# Bank Fears Loanliness
This is my submission for the Coding Challenge at Hacker Earth. The problem is to figure out the probability that a member will default.

You can learn more about the challenge and the coding task here - https://www.hackerearth.com/challenge/competitive/machine-learning-challenge-one/machine-learning/bank-fears-loanliness/
Note: If the dexription id not available you can get the dataset from here (contains descriptions as well)-
https://www.dropbox.com/s/hhk58gf4zl0paco/Bank%20Fears%20Loanliness.zip?dl=0

In [1]:
# importing basic libraries we need to do our analysis
import pandas as pd
import numpy as np
# sklearn library for machine learning
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

ImportError: DLL load failed: %1 is not a valid Win32 application.

In [2]:
# Let's start by reading in the data file and understanding what our data looks like.
train_df = pd.read_csv("train_indessa.csv")
test_df = pd.read_csv("test_indessa.csv")
train_df

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350,14350.00,36 months,,19.19,E,E3,clerk,...,0.0,74.0,INDIVIDUAL,NaN,26th week,0.0,0.0,28699.0,30800.0,0
1,70011223,4800,4800,4800.00,36 months,BAT1586599,10.99,B,B4,Human Resources Specialist,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,0.0,9974.0,32900.0,0
2,70255675,10000,10000,10000.00,36 months,BAT1586599,7.26,A,A4,Driver,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,65.0,38295.0,34900.0,0
3,1893936,15000,15000,15000.00,36 months,BAT4808022,19.72,D,D5,Us office of Personnel Management,...,0.0,NaN,INDIVIDUAL,NaN,135th week,0.0,0.0,55564.0,24700.0,0
4,7652106,16000,16000,16000.00,36 months,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,...,0.0,NaN,INDIVIDUAL,NaN,96th week,0.0,0.0,47159.0,47033.0,0
5,10247268,15000,15000,14950.00,36 months,BAT2575549,8.90,A,A5,Design Consultant,...,0.0,NaN,INDIVIDUAL,NaN,113th week,0.0,0.0,350619.0,29500.0,0
6,8089625,5000,5000,4975.00,36 months,,7.90,A,A4,TOYOTA OF NORTH HOLLYWOOD,...,0.0,NaN,INDIVIDUAL,NaN,117th week,0.0,1023.0,13272.0,55500.0,1
7,23043116,6000,6000,6000.00,36 months,NaN,9.17,B,B1,Banker,...,0.0,54.0,INDIVIDUAL,NaN,78th week,0.0,0.0,272579.0,11800.0,0
8,45900933,6000,6000,6000.00,36 months,BAT4136152,13.99,C,C4,LVN,...,0.0,NaN,INDIVIDUAL,NaN,44th week,0.0,0.0,281521.0,62100.0,0
9,41272507,34550,34550,34550.00,60 months,BAT4694572,17.14,D,D4,Registered Nurse,...,0.0,NaN,INDIVIDUAL,NaN,52th week,0.0,0.0,76034.0,33200.0,0
10,56621560,25000,25000,24975.00,36 months,,13.33,C,C3,VP of Operations,...,0.0,52.0,INDIVIDUAL,NaN,26th week,0.0,0.0,72193.0,47000.0,0
11,4221941,15000,15000,15000.00,36 months,,18.49,D,D2,Jp Morgan chase bank,...,0.0,82.0,INDIVIDUAL,NaN,95th week,0.0,0.0,39152.0,19600.0,1
12,43387539,18000,18000,18000.00,36 months,BAT5924421,6.99,A,A3,driver,...,0.0,NaN,INDIVIDUAL,NaN,48th week,0.0,0.0,194011.0,139900.0,0
13,23001903,9000,9000,9000.00,36 months,BAT3193689,6.03,A,A1,Federal Law Enforcement,...,0.0,NaN,INDIVIDUAL,NaN,78th week,0.0,0.0,165164.0,43000.0,0
14,13670372,8800,8800,8800.00,36 months,BAT224923,13.65,C,C1,Truck Driver,...,0.0,NaN,INDIVIDUAL,NaN,82th week,0.0,0.0,39634.0,41200.0,1
15,49874851,8000,8000,8000.00,36 months,BAT1184694,15.61,D,D1,ASSISTANT QAPI COORDINATOR,...,0.0,NaN,INDIVIDUAL,NaN,35th week,0.0,0.0,48488.0,18500.0,0
16,9878144,18450,18450,18450.00,60 months,BAT1930365,21.70,E,E2,LS1,...,0.0,72.0,INDIVIDUAL,NaN,96th week,0.0,0.0,71191.0,15900.0,0
17,12866989,30750,30750,30700.00,36 months,,16.99,D,D1,NaN,...,0.0,26.0,INDIVIDUAL,NaN,104th week,0.0,0.0,221335.0,17400.0,0
18,58568833,9000,9000,9000.00,36 months,BAT3873588,9.99,B,B3,Production employee,...,0.0,NaN,INDIVIDUAL,NaN,26th week,0.0,0.0,34538.0,17000.0,0
19,62725253,24000,24000,24000.00,36 months,NaN,10.99,B,B4,Principal Consultant,...,0.0,NaN,INDIVIDUAL,NaN,17th week,0.0,0.0,125903.0,31000.0,0
20,66791957,20000,20000,20000.00,60 months,BAT2252229,17.86,D,D5,Zone business manager,...,0.0,18.0,INDIVIDUAL,NaN,13th week,0.0,0.0,66738.0,27200.0,0
21,1699807,12400,12400,12400.00,36 months,BAT1135695,6.62,A,A2,Expeditors,...,0.0,NaN,INDIVIDUAL,NaN,NAth week,0.0,NaN,NaN,NaN,0
22,54486146,4200,4200,4200.00,36 months,,17.57,D,D4,production coordinator,...,0.0,NaN,INDIVIDUAL,NaN,31th week,0.0,0.0,282808.0,25700.0,0
23,41408977,10500,10500,10500.00,36 months,BAT4694572,13.66,C,C3,Title Manager,...,0.0,NaN,INDIVIDUAL,NaN,30th week,0.0,0.0,71697.0,14300.0,1
24,63047232,16000,16000,16000.00,36 months,BAT4271519,7.89,A,A5,Coordinator,...,0.0,NaN,INDIVIDUAL,NaN,17th week,0.0,0.0,147448.0,41400.0,0
25,22741274,23800,23800,23800.00,60 months,,15.61,D,D1,Quality Engineer,...,0.0,NaN,INDIVIDUAL,NaN,78th week,0.0,0.0,327930.0,43400.0,0
26,17563299,7200,7200,7150.00,36 months,NaN,12.99,C,C1,Top shelf sales,...,0.0,47.0,INDIVIDUAL,NaN,70th week,0.0,0.0,8589.0,19800.0,1
27,10317534,19200,19200,19175.00,36 months,NaN,6.62,A,A2,Physician,...,0.0,NaN,INDIVIDUAL,NaN,104th week,0.0,0.0,447388.0,33100.0,1
28,50609137,15000,15000,15000.00,36 months,BAT1184694,6.92,A,A4,Teacher,...,0.0,NaN,INDIVIDUAL,NaN,35th week,0.0,0.0,114298.0,49900.0,0
29,70008968,4000,4000,4000.00,36 months,BAT1586599,17.57,D,D4,cna,...,0.0,NaN,INDIVIDUAL,NaN,4th week,0.0,0.0,31445.0,10900.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532398,23543780,18000,18000,18000.00,36 months,BAT3193689,14.49,C,C4,Owner,...,0.0,52.0,INDIVIDUAL,NaN,78th week,0.0,0.0,429344.0,9000.0,0
532399,16543128,4700,4700,4700.00,36 months,BAT5489674,11.99,B,B3,PATIENT ACCESS,...,0.0,NaN,INDIVIDUAL,NaN,17th week,0.0,0.0,101351.0,7300.0,1
532400,73414202,20000,20000,20000.00,36 months,NaN,9.17,B,B2,utility,...,0.0,NaN,INDIVIDUAL,NaN,NAth week,0.0,0.0,69832.0,25900.0,0
532401,54776171,7800,7800,7800.00,36 months,BAT3726927,9.99,B,B3,Owner,...,0.0,74.0,INDIVIDUAL,NaN,31th week,0.0,0.0,46121.0,21200.0,0
532402,52377140,10400,10400,10400.00,36 months,BAT3726927,7.26,A,A4,Mechanic,...,0.0,NaN,INDIVIDUAL,NaN,31th week,0.0,0.0,116826.0,22400.0,0
532403,59468945,22375,22375,22375.00,60 months,BAT3873588,19.19,E,E3,IT Systems Engineer,...,0.0,NaN,INDIVIDUAL,NaN,26th week,0.0,0.0,21055.0,13000.0,0
532404,68127956,8000,8000,8000.00,36 months,BAT1586599,7.26,A,A4,Senior Engineering Manager,...,0.0,70.0,INDIVIDUAL,NaN,9th week,0.0,0.0,279875.0,51100.0,0
532405,5906972,18000,18000,18000.00,60 months,BAT4808022,17.27,C,C5,Department of Justice,...,0.0,NaN,INDIVIDUAL,NaN,100th week,0.0,0.0,68068.0,27800.0,1
532406,70600730,10000,10000,10000.00,36 months,BAT2803411,6.24,A,A2,Designer,...,0.0,NaN,INDIVIDUAL,NaN,4th week,0.0,0.0,75747.0,17000.0,0
532407,59780170,16000,16000,16000.00,36 months,BAT3873588,7.26,A,A4,Small Business Consultant,...,0.0,NaN,INDIVIDUAL,NaN,26th week,0.0,0.0,45671.0,16100.0,0
532408,69555199,7200,7200,7200.00,36 months,BAT1586599,9.17,B,B2,Funeral Director/Grief Counselor,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,0.0,145019.0,26300.0,0
532409,4583654,17625,17625,17625.00,36 months,BAT5714674,16.29,C,C4,unistrut corp.,...,0.0,NaN,INDIVIDUAL,NaN,126th week,0.0,0.0,30960.0,33000.0,0
532410,272515,9700,9700,8283.54,36 months,,14.82,E,E3,Hilton Hotels,...,0.0,NaN,INDIVIDUAL,NaN,156th week,0.0,NaN,NaN,NaN,1
532411,10340541,20000,20000,20000.00,36 months,BAT2575549,9.67,B,B1,sr operator,...,0.0,NaN,INDIVIDUAL,NaN,78th week,0.0,0.0,166357.0,35800.0,1
532412,48073747,7200,7200,7200.00,36 months,BAT1104812,16.55,D,D2,CNC Operator,...,0.0,NaN,INDIVIDUAL,NaN,39th week,0.0,0.0,35503.0,5400.0,0
532413,12956724,19200,19200,19200.00,60 months,BAT1766061,19.22,D,D4,Cyber Security Advisor,...,0.0,NaN,INDIVIDUAL,NaN,100th week,0.0,0.0,556189.0,45100.0,0
532414,26517526,20000,20000,20000.00,36 months,NaN,14.49,C,C4,AVP,...,0.0,68.0,INDIVIDUAL,NaN,70th week,0.0,0.0,36011.0,15900.0,0
532415,965370,10000,10000,10000.00,36 months,,7.49,A,A4,Lockheed Martin,...,0.0,NaN,INDIVIDUAL,NaN,161th week,0.0,NaN,NaN,NaN,1
532416,19786238,1800,1800,1800.00,36 months,NaN,16.99,D,D3,Content Specialist,...,0.0,NaN,INDIVIDUAL,NaN,83th week,0.0,128.0,137538.0,42100.0,0
532417,68700956,10000,10000,10000.00,36 months,BAT1586599,9.99,B,B3,Staffing assistant,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,2070.0,15552.0,18300.0,0
532418,71054913,10000,10000,10000.00,36 months,NaN,9.76,B,B3,Teacher,...,0.0,NaN,INDIVIDUAL,NaN,4th week,0.0,890.0,121294.0,19700.0,0
532419,51774468,4800,4800,4800.00,36 months,BAT1184694,11.53,B,B5,Help Desk Technician,...,0.0,NaN,INDIVIDUAL,NaN,31th week,0.0,0.0,24985.0,10400.0,0
532420,16661491,5700,5700,5700.00,36 months,BAT5489674,14.16,C,C2,Admin Secretary,...,0.0,NaN,INDIVIDUAL,NaN,4th week,0.0,0.0,89997.0,15600.0,1
532421,32097538,13000,13000,13000.00,60 months,BAT2078974,12.99,C,C1,Teacher,...,0.0,7.0,INDIVIDUAL,NaN,65th week,0.0,0.0,11231.0,26900.0,0
532422,8219842,10000,10000,10000.00,36 months,NaN,14.33,C,C2,Champion Mortgage,...,0.0,NaN,INDIVIDUAL,NaN,22th week,0.0,0.0,189233.0,24200.0,1
532423,31296187,20000,20000,20000.00,36 months,,12.49,B,B5,Registered Nurse,...,0.0,NaN,INDIVIDUAL,NaN,65th week,0.0,0.0,83087.0,24800.0,0
532424,29403184,12000,12000,12000.00,60 months,BAT2003848,14.99,C,C5,Account Mgr,...,0.0,NaN,INDIVIDUAL,NaN,70th week,0.0,0.0,227812.0,17800.0,0
532425,7357607,18725,18725,18725.00,60 months,NaN,20.80,E,E1,Comcast cable,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,0.0,26010.0,24200.0,1
532426,23182668,21000,21000,21000.00,60 months,BAT3193689,16.29,D,D2,Resident Physician,...,0.0,NaN,INDIVIDUAL,NaN,78th week,0.0,0.0,29197.0,23300.0,0
532427,46122259,10000,10000,10000.00,36 months,BAT4136152,6.39,A,A2,Health Care Analyst,...,0.0,NaN,INDIVIDUAL,NaN,44th week,0.0,0.0,47866.0,21700.0,0

In [3]:
#As we can see the dataset is huge and there are a lot of rows/columns in it. 
#We look at the shape of the data and later try to understand what these columns mean.
train_df.shape

(532428, 45)

### Cleaning the dataset
Our training dataset has 532428 rows and 45 columns. Which means that we have 532427 instances or different records for the customers of our bank. The 45 columns means that we have 45 different features or measurements for each of our instances. 

The main step of any data science or machine learning problem is setting up the data in such a way that we it can be used in our machine learning model to yield the highest accuracy. In other words, feature extraction and selection and data tyding plays more important role than the machine learning model/algorithm we use.
Thus, we are looking at the unique values in each column to understand the sparcity of the data and to drop all the columns which are unnecessary

In [4]:
# basic exploration of a column of our dataset. Looking at three different things
def studyColumn(df, columnName):
    # different ways of looking at unique values in a column
    #df["member_id"].unique()
    print("Unique values in column are: ", df[columnName].unique())
    # counting the total number of null or nan values
    print("Total number of null values is: ", df[columnName].isnull().sum())
    # counting th  total number of each type of value in a column
    print("The frequency of each unique value is: ", df[columnName].value_counts(normalize = True))

In [5]:
studyColumn(train_df, "emp_length")

Unique values in column are:  ['9 years' '< 1 year' '2 years' '10+ years' '5 years' '8 years' '7 years'
 '4 years' 'n/a' '1 year' '3 years' '6 years']
Total number of null values is:  0
The frequency of each unique value is:  10+ years    0.328880
2 years      0.088793
< 1 year     0.079359
3 years      0.079213
1 year       0.064238
5 years      0.062718
4 years      0.059315
n/a          0.050506
7 years      0.050110
8 years      0.049665
6 years      0.048346
9 years      0.038856
Name: emp_length, dtype: float64

In [6]:
# Dropping columns

'''As we can see in our dataset we have a lot of empty columns and a lot of columns with 0 values or 
90% - 95% of 0s. There are various methods to fill the empty values, however for the first dry run and to just get a 
baseline for future reference we will simply ignore/drop these columns to create our first model'''

def droppingCols(df):
    # stripping " months" from each value in column 'term'
    df['term'] = df['term'].map(lambda x: x.rstrip(' months'))
    #converting to int
    df['term'] = pd.to_numeric(df['term'], errors='ignore')
    # multiplying by 4 to convert to weeks
    df['term'] *= 4
    # removed "th week" from each in value in 'last_week_pay', already in weeks so no need to convert
    df['last_week_pay'] = df['last_week_pay'].map(lambda x: x.rstrip('th week'))

    # Removing < and +years from all the emp_length values
    df['emp_length'] = df['emp_length'].map(lambda x: x.rstrip('+ years, year'))
    # Replacing n/ with np.null for further processing And changing < 1 = 0
    df['emp_length'].replace(to_replace = "< 1", value = 0, inplace = True)
    df['emp_length'].replace(to_replace = "n/", value = np.nan, inplace = True)

    # from our exploration we have selected the following columns to remove from our dataset
    columnToRemove = ['batch_enrolled', 'grade', 'sub_grade', 'emp_title', 'verification_status', 'desc', 
                      'purpose', 'title', 'zip_code', 'addr_state', 'mths_since_last_delinq', 'mths_since_last_record', 
                      'total_rec_late_fee', 'mths_since_last_major_derog', 'verification_status_joint']
    # only do once in each run as it will give an error if done without loading the dataset again (columns already removed)
    df.drop(columnToRemove, axis = 1, inplace = True)
    df.shape
    return df

In [7]:
# Creating a new column in our df
# money_bank_paid = funded_amnt - funded_amnt_inv (Substracting in this way to not have negative values)
def addCols(df):
    df['money_bank_paid'] = df['funded_amnt'] - df['funded_amnt_inv']

    # Converting string based abstract classes to category type
    df['home_ownership'] = df['home_ownership'].astype('category')
    df['pymnt_plan'] = df['pymnt_plan'].astype('category')
    df['initial_list_status'] = df['initial_list_status'].astype('category')
    df['application_type'] = df['application_type'].astype('category')

    # all columsn with dtype category.
    categoryColumns = df.select_dtypes(['category']).columns
    df[categoryColumns] = df[categoryColumns].apply(lambda x: x.cat.codes)

    # way to convert a single column
    #df['home_ownership'] = df['home_ownership'].cat.rename_categories(range(len(df['home_ownership'].cat.categories)))
    df.shape
    return df

In [8]:
def replaceEmpty(df):
    # replacing the empty spaces with nan values and nan with 0
    df = df.replace(r'\s+', np.nan, regex=True)
    df = df.replace(np.nan, 0, regex=True)
    df = df.replace('NA', 0, regex=True)
    return df

In [9]:
# calling the changes on both the dataframes
# first for the trainig dataset
train_df = droppingCols(train_df)
train_df = addCols(train_df)
train_df = replaceEmpty(train_df)

test_df = droppingCols(test_df)
test_df = addCols(test_df)
test_df = replaceEmpty(test_df)

### Building the Model
Now that we've our dataset cleaned and the empty and null values dealt with, we can go ahead and build our first model with this new dataset and get a baseline for accuracy and predictions. We will use Random forest for the first model we're going to build. Random Trees are a form of decision tress and you can read more about them here - 
https://en.wikipedia.org/wiki/Random_forest

In [10]:
# removing extra indexes from our Y_test and Y_train
def dropIndex(df):
    df = df.reset_index(level=None, drop=False, name=None, inplace=False)
    #df.drop('index', axis = 1, inplace = True)
    #df.set_index('loan_status', drop=True, append=False, inplace=True, verify_integrity=False)
    return df

In [11]:
# our training dataset split in to x and y
Y_train = train_df['loan_status']
X_train = train_df.drop('loan_status', axis = 1)

In [12]:
# We are using the random forest for this problem
RFmodel = RandomForestRegressor(n_estimators=10)
# fitting the model on the training dataset
RFmodel.fit(X_train, Y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [13]:
# Now that we've our model we can test it on our test dataset for predicting the results
Y_pred = RFmodel.predict(test_df)

In [14]:
# Creating a temp df to write the results in to a csv for submission
temp = pd.DataFrame(test_df['member_id'])
temp['loan_status'] = Y_pred
temp.reset_index(level = None, drop = True, inplace = True)
temp['loan_status'].replace(0, 0.01,inplace=True)
temp['loan_status'].replace(1, 0.99,inplace=True)
temp.to_csv("submission.csv", sep = ",", index = False)
temp

        member_id  loan_status
0        11937648         0.01
1        38983318         0.01
2        27999917         0.01
3        61514932         0.01
4        59622821         0.01
5        28822038         0.01
6        10718089         0.90
7        58114582         0.01
8        35023176         0.80
9         1268247         0.01
10       15559751         0.99
11       41234300         0.80
12       53958774         0.01
13        8074949         0.01
14       67601509         0.01
15       65560239         0.01
16       14767770         0.10
17        1726792         0.01
18        9899439         0.01
19       15120294         0.01
20       12019444         0.01
21       35242810         0.01
22        1057101         0.90
23       23024164         0.01
24       45430320         0.90
25       46396580         0.10
26       58832624         0.01
27       14990008         0.01
28       57738287         0.01
29       66382471         0.01
...           ...          ...
354921   19848222         0.01
354922   58710103         0.10
354923   71207833         0.01
354924   61595559         0.20
354925   59891936         0.01
354926   55781739         0.20
354927   49353323         0.01
354928     673495         0.70
354929   28653239         0.01
354930   45471139         0.01
354931    5329126         0.99
354932   22381672         0.01
354933   65005753         0.01
354934   35873497         0.01
354935   47994257         0.01
354936    3874064         0.20
354937   68780700         0.01
354938   10976807         0.01
354939   55096221         0.01
354940   13600061         0.70
354941   55437336         0.01
354942   25856020         0.01
354943   10386922         0.01
354944   70721678         0.01
354945   70348484         0.01
354946   19145105         0.01
354947   46304777         0.01
354948     903745         0.80
354949   53032475         0.01
354950     994245         0.80

[354951 rows x 2 columns]